@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 24 100% 50%;
  --primary-foreground: 0 0% 0%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 24 100% 50%;
  --accent-foreground: 0 0% 0%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 24 100% 50%;
  --input: 240 3.7% 15.9%;
  --ring: 24 100% 50%;
  --radius: 0.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-black text-white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ea580c;
}

